@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: 0.4s;
  font-family: 'Raleway';
}

/* Add a black background color to the top navigation */
.topnav {
  background: #141827;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 25px;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover,
.active {
  border-bottom: 1px solid #4C576B;
}
.body {
  background: linear-gradient(#141827, #161c2f);
  height: 100vh;
}

.intro {
  color: white;
  font-size: 5.5em;
}

span {
  font-family: 'Caveat';
}

.welcome {
  padding: 10px;
  margin: 50px;
}

h2 {
  font-size: 3em;
  color: white;
  font-family: "Caveat";
  font-weight: 100;
}

button {
  padding:15px;
  color:white;
  border: 2px solid rgb(217, 217, 233);
  background-color: #141827;
  font-size: 25px;
  font-weight: 100;
}

button:hover{
  cursor:pointer;
  transition: 1s;
  background-color: rgb(73, 73, 131);
  border:#2a214d;
  color:black;
}

.container {
  height: 20vh;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img {
  width: 35px;
  height:30px;
}
.imgbuton {
  border-radius:100%;
  margin:60px;
}
.imgbuton:hover{
  color:black;
}

a{
  text-decoration: none;

}
 
